{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table id="index">
  <tr>
    <th>Symbol</th>
    <th>Shares</th>
    <th>Price</th>
    <th style="text-align: right; padding-right: 15px">Date</th>
  </tr>
  {% for item in range(leng) %}
  <tr>
    <td> {{ history_dict["Symbol"][item] }}</td>
    <td> {{ history_dict["Shares"][item] }}</td>
    <td> {{ history_dict["Price"][item] }}</td>
    <td style="text-align: right; padding-right: 15px"> {{ history_dict["Date"][item] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}